<!DOCTYPE html>
<html>
<head>
	<title>Semi RESTful Users</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
</head>
<body>

	<div id="pagewrap">
		{% if messages %}
			<ul class="messages">
    		{% for message in messages %}
    			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    		{% endfor %}
			</ul>
		{% endif %}
		<h1>Add a new user</h1>
		<form id="new_user" action="/users/create" method="POST">
			{% csrf_token %}
			<label>
				First Name
				<input type="text" name="first_name">
			</label>

			<label>
				Last Name
				<input type="text" name="last_name">
			</label>

			<label>
				Email
				<input type="text" name="email">
			</label>
			<input type="submit" value="Create" class="button">
		</form>
		<hr />
		<a href="/users" class="button">Go Back</a>
	</div>

</body>
</html>